*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}


body{
    background-color: black;
    color: white;
    background-size: cover;
    background-image: url(mac-wallpaper.jpg);
    background-repeat: no-repeat;
}
